@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240deg 75% 98%);
    --light-gray: hsl(0, 0%, 75%);
    --font-family-raleway: 'Raleway', sans-serif;
    --font-family-open-sans: 'Open Sans', sans-serif;
    --section-padding: 0 8rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family-raleway);
}

header {
    padding: var(--section-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 7rem;
}

.nav__logo-img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav__list-item__link {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 400;
}

footer,
section {
    padding: var(--section-padding);
}

.landing {
    width: 100%;
    height: calc(90vh - 6.315625rem);
    display: flex;
    align-items: center;
    /* gap: 10rem; */
}

.landing__welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.landing__welcome-msg {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

.landing__welcome-desc {
    font-family: var(--font-family-raleway);
    color: var(--desaturated-blue);
    font-weight: 600;
    width: 80%;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.landing__welcome-start {
    display: flex;
    gap: 1rem;
    width: 75%;
}

.landing__welcome-start__input {
    padding: 1rem 1.5rem;
    flex: auto;
}

.landing__welcome-start__input::placeholder {
    font-family: var(--font-family-open-sans);
    color: var(--desaturated-blue)
}


.landing__welcome-start__button {
    border: none;
    background: var(--bright-blue);
    color: white;
    padding: 0.6rem 3rem;
    text-transform: capitalize;
    border-radius: 0.2rem;
    font-weight: 700;
    box-shadow: 0rem 0.4rem 1rem 0rem #00000036;
}

.landing__illustration {
    flex: 1;
}

.landing__illustration img {
    width: 100%;
}

.work {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-inline: 0;
}

.work__content {
    display: flex;
    background: var(--light-grayish-blue);
    padding: var(--section-padding);
    gap: 2rem;
    justify-content: space-between;
    flex: auto;
}

.work__productive {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;

}

.work__productive-title {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.work__productive-desc {
    width: 70%;
    color: var(--desaturated-blue);
}

.work__productive-cta {
    color: var(--moderate-cyan);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0.124rem solid var(--moderate-cyan);
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 2rem;
    padding-bottom: .1rem;
    display: flex;
    gap: .2rem;
}

.work__productive-cta span {
    display: flex;
}

.work__productive-card {
    background: #fff;
    box-shadow: 0 0 .4rem 0 var(--light-gray);
    border-radius: 0.4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9rem;
    width: min(25rem, 100%)
}

.work__productive-card__msg {
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.work__productive-card__profile {
    display: flex;
    gap: .5rem;
    align-items: center;

}

.work__productive-card__profile-container {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.work__productive-card__profile-container img {
    width: 100%;
}

.work__productive-card__profile-info {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.work__productive-card__profile-info__name {
    font-size: .8rem;
    font-weight: 700;
}

.work__productive-card__profile-info__title {
    font-size: .6rem;
    font-weight: 400;
}



.work__illustration {
    flex: 1;
}

.work__illustration img {
    width: 100%;
}

.early {
    display: flex;
    height: 25vh;
    width: 100%;
    background: var(--desaturated-blue);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.early__access {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    /* color: #fff; */
}

.early__access-title {
    color: #fff;
}

.early__access-desc {
    width: 80%;
    color: #fff;
    line-height: 1.5rem;

}

.early__input {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: flex-start;
}

.early__input-email {
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: .2rem;
    width: 100%;
}

.early__input-email::placeholder {
    color: var(--light-gray);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40vh;
    justify-content: center;
    background: var(--very-dark-blue);
    color: white;
    gap: 2rem;
}

.footer__below {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 60%;
}

.footer__below-contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1.5;
}

.footer__below-contact__phone,
.footer__below-contact__email {
    display: flex;
    gap: 0.7rem;
    text-decoration: none;
    color: white;
}

.footer__below-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1.5;
    height: 80%;
}

.footer__below-links__items {
    display: flex;
}

.footer__below-links__items-link {
    text-decoration: none;
    color: white;
}

.footer__below-social {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;

}

.footer__below-social__icon {
    border: .1rem solid white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media screen and (max-width: 54rem) {

    header {
        padding-inline: 2rem;
    }

    .nav__logo {
        width: 5rem;
    }

    .nav__list {
        gap: .8rem;
    }

    .nav__list-item__link {
        font-weight: 600;
        font-size: .9rem;
    }


    .landing {
        height: unset;
        flex-direction: column-reverse;
        gap: 2rem;
        padding-inline: 2rem;
        margin-bottom: 6rem;
    }

    .landing__welcome-start__input {
        padding: .7rem 1.5rem;
    }


    .landing__welcome-msg {
        font-size: 1.5rem;
        line-height: unset;
        text-align: center;
    }


    .landing__welcome-desc {
        font-size: 1rem;
        width: 100%;
        line-height: 1.5rem;
        text-align: center;
    }

    .landing__welcome-start {
        flex-direction: column;
        width: 100%;
    }

    .landing__welcome-start__early__input {
        padding-block: .7rem;
    }

    .work {
        padding-inline: 2rem;
        height: unset;
    }

    .work__content {
        flex-direction: column-reverse;
        padding-inline: 0;
        background: none;
    }

    .work__curve {
        display: none;
    }

    .work__productive {
        align-items: center;
    }

    .work__productive-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .work__productive-desc {
        width: 100%;
        margin-bottom: 2rem;
    }

    .early {
        height: unset;
        flex-direction: column;
        padding: 2rem;
    }

    .early__access {
        width: 100%;
        gap: 1.800rem
    }

    .early__access-desc,
    .early__access-title {
        text-align: center;
        width: 100%;
    }

    .early__access-title {
        font-size: 1.5rem;
    }

    .early__input {
        width: 100%;
    }

    .landing__welcome-start__button {
        width: 100%;
        padding-block: .7rem;
    }

    footer {
        height: unset;
        padding: 3rem 2rem;
    }

    .footer__below {
        flex-direction: column;
        gap: 3rem;
    }

    p {
        font-size: .9rem !important;
    }
}